/* MEDIA QUERIES */

/* @media all and (min-width: 1024px) and (max-width: 1280px) { }
@media all and (min-width: 768px) and (max-width: 1024px) { }
@media all and (min-width: 370px) and (max-width: 768px) { }
@media all and (max-width: 370px) { } */

/* GENERAL */
* {
    font-size: 16px;
}
body {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
    background-color:#F0F0EB;
}
@media all and (max-width: 370px) {
    * {
        max-height: 17em;
    }
    h2 {
        font-size: 1.5em;
    }
    body {
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        display: block;
        background-color:#F0F0EB;
        max-width:100%;
     }
    .display-3 {
         font-size: 2.8em;
     }
}
@media all and (min-width: 370px) and (max-width: 768px) {
    * {
        max-height: 30em;
    }
    h2 {
        font-size: 1.5em;
    }

    .display-3 {
        font-size: 4em;
    }
 } 

/* NAVBAR */
.navbar {
    background-color: #324B5A;
    box-shadow: 0px 20px 40px rgba(0,0,0,0.1);
}
.navbar-dark{
    background-color: #324B5A;
}
.bg-dark{
    background-color: #324B5A;
}

/* TITLE */
.jumbotron {
   background-color: #FFE164;
   font-family: 'Oswald', sans-serif;
   justify-content: center;
}
@media all and (max-width: 370px) {
    .jumbotron {
        background-color: #FFE164;
        font-family: 'Oswald', sans-serif;
        justify-content: center;
        padding:.8em;
    }
 }
 @media all and (min-width: 370px) and (max-width: 768px) {
    .jumbotron {
        background-color: #FFE164;
        font-family: 'Oswald', sans-serif;
        justify-content: center;
        padding:.8em;
    }
  }

/* MAIN CONTENT */
.row {
    background-color:#F0F0EB; 
}
.container {
    padding: 3em;
    background-color: #FFE164; 
    border: none;
    border-radius: 5px;
}
@media all and (max-width: 370px) {
    .container {
        padding: .1em;
        background-color: #FFE164; 
        border: none;
        border-radius: 5px;  
    }
 }
 @media all and (min-width: 370px) and (max-width: 768px) {
    .container {
        padding: .5em;
        background-color: #FFE164; 
        border: none;
        border-radius: 5px;  
    }
  }
.container-info {
    font-family: 'Nanum Gothic', sans-serif;
    padding: 3em;
    background-color: #F0F0EB;
    border: none;
    border-radius: 5px;
}
@media all and (max-width: 370px) {
    .container-info {
        padding: .1em;
        background-color: #F0F0EB;
        border: none;
        border-radius: 5px;
    }
 }
@media all and (min-width: 370px) and (max-width: 768px) {
    .container-info {
        padding: .5em;
        background-color: #F0F0EB;
        border: none;
        border-radius: 5px;
        font-size: .5em;
        margin-left: auto;
        margin-right: auto;
        max-width:90%; 
    }
 }
 /* FOOTER */
    #navbar-b {
        overflow: hidden;
        background-color:#324B5A ;
        position: fixed; 
        bottom: 0px; 
        width: 100%;
        padding:1em; 
        text-align: left;
        font-size: .5em;
}

		
